$Reglar-Font: "ClearSans";
$Bold-Font: "ClearSans-Bold";
$Medium-Font: "ClearSans-Bold";
$Black-Font: "ClearSans-Bold";
$Heavy-Font: "ClearSans-Bold";
// $Reglar-Font: "SFProDisplay-Regular";
// $Bold-Font: "SFProDisplay-Bold";
// $Medium-Font: "SFProDisplay-Medium";
// $Black-Font: "SFProDisplay-Black";
// $Heavy-Font: "SFProDisplay-Heavy";

$Intel-Blue: #007dc3;
$Cyan: #13b5ea;
$Blue: #026cb6;
$Dark-Blue: #174a7c;
$Pure-white: #ffffff;
$Cool-Grey: #717073;
$Yellow: #ffe800;
$Orange: #f1ab00;
$Red: #f05133;
$Tint-Green: #a0cf67;
$Green: #49a942;
$Dark-Grey: #313131;
$Tint-Blue: #edf7ff;
$HighTint-Blue: #d6edff;
$Tint-Gray: #f6f7f9;
$Light-Gray: #c3c3c3;
$Light-Skyblue: #fbfdff;
$Tint-Light-Skyblue: #e9edf0;
$Border-Grey: #e2e2ea;
$Select-Grey: #f1f4f8;
$Select-Grey-Border: #d5dce6;
$check-dot: #e8eaed;
$pale-grey-seven: #dbe1e6;

$Small-Desktop: "only screen and (max-width : 1439px)";
$Small-Laptop: "only screen and (max-width : 1279px)";
$Ipad: "only screen and (max-width : 1024px)";

// body {
//   font-family: "SFProDisplay-Regular";
// }
// .ant-table-placeholder {
//   .ant-empty-normal {
//     margin: 0;
//   }
// }
// .ant-form-item {
//   margin: 0;

//   label {
//     color: #b0b0b0;
//   }
// }
